.navbar-section{
  height: 4.5rem;
  border: 1px solid #37447E;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem;
  position: sticky;
  top: 10;
}

.main-section{
  margin: 0.5rem;
  padding: 0 20%;
  margin-top: 2rem;
  overflow-y:auto;
  max-height: 80vh;
}